:root {
    --color-white: white;
    --color-gray: #F5F5F5;
    --color-blue-1: #0077ff;
    --color-blue-2: #005CC4;
    --color-dark-gray: #333333;
    --color-black: black;
}

@font-face {
    font-family: 'Nunito Sans-Regular';
    src: url("/Font/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: 'Nunito Sans-Black';
    src: url("/Font/NunitoSans-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans-Regular';
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================================================================== */
/* HEADER */

nav {
    background-color: var(--color-blue-1);
    padding: 10px 10%;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
}
nav a:hover {
    color: var(--color-black);
}
nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-blue-1);
    backdrop-filter: blur(10px);
    box-shadow: -1px 0 3px var(--color-blue-2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu_button {
    display: none;
}
.logo {
    font-size: 1.3rem;
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Nunito Sans-Black';
    text-align: left;
}

/* ================================================================== */
/* FOOTER */

footer {
    /* position: relative; */
    width: 100%;
    background-color: var(--color-blue-1);
}
.footer_container {
    padding: 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: #F5F5F5;
    width: 100%;
}
.footer_column {
    padding: 20px;
    flex: 1;
    min-width: 200px; /* Ensures a minimum width for columns */
    margin: 10px;
}
.footer_logo {
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: 'Nunito Sans-Black';
}
.footer_about_us {
    padding-top: 10px;
    margin-right: 20px;
    font-size: 0.8rem;
    text-align: justify;
}

.footer_title {
    font-size: 1.1rem;
    color: var(--color-white);
    font-family: 'Nunito Sans-Regular';
    font-weight: 900;
}
.footer_column ul {
    padding-top: 10px;
}
.footer_column ul li a {
    text-decoration: none;
    color: var(--color-white);
}
.footer_column ul li {
    list-style: none;
    font-size: 0.8rem;
    padding-top: 5px;
}
.footer_bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ============================================================================================= */
/* TESTIMONY */
.testimony_container {
    background: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    min-height: 500px;
}

.testimony_frame {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(3);
    width: 75%;
}

.testi_title {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Nunito Sans-Black';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.testimony_slider {
    grid-row: 2;
    grid-column: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: white;
    box-shadow: 0.5px 0.5px 10px var(--color-dark-gray);
    border-radius: 10px;
}

.testimony_track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.testimony {
    min-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.testimony img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.testimony img:hover {
    transform: scale(1.05);
}
.testimony h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: var(--color-blue-1);
    font-family: 'Nunito Sans-Black';
    margin-bottom: 5px;
}
.testimony p {
    padding: 0 80px;
}
.role {
    font-size: 1rem;
    color: var(--color-blue-1);
    font-weight: 700;
    margin-bottom: 5px;
}

/* TOMBOL PREV DAN NEXT SLIDER */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-gray);
    border: none;
    color: var(--color-dark-gray);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: .2s;
}
.nav:hover {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.nav.prev {
    left: 20px;
}

.nav.next {
    right: 20px;
}
/* =============================================== */


.testi_quotes {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.testi_quotes p {
    padding-top: 20px;
    padding-bottom: 10px;
}
.testi_quotes h4 {
    font-size: 1.1rem;
    padding-bottom: 20px;
}

/* ============================================================================================ */

/* ============================================================================================= */
/* MEDIA RESPONSIVE */

@media (max-width: 1200px) {
    html{
        font-size: 90%;
    }


    .footer_container {
        padding: 20px 10%; 
    }
    .footer_column {
        flex: 1 1 45%;
        margin: 10px 5px;
    }
    .footer_logo {
        font-size: 1.3rem;
    }
    .footer_title {
        font-size: 1rem;
    }
    .footer_about_us, .footer_column ul li {
        font-size: 0.7rem;
    }
    .footer_bottom {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 20px;
    }
}

@media (max-width: 900px) {
    html{
        font-size: 85%;
    }

    .hideOnMobile {
        display: none;
    }
    .menu_button {
        display: block;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 530px) {
    
}

@media (max-width: 430px) {

    .sidebar {
        width: 100%;
    }
}